.nav {
    text-align: center;
}

#mainnav {
    background-color: #219652;
    width: 7%;
    position: fixed;
    height: 100%;
    color: white;

}


#mainnav a {
    color: white;
    padding-top: 20%;
    padding-bottom: 20%;
    opacity: 1;
backface-visibility: hidden;
   }

/*#mainnav a:hover, #mainnav a:focus {
background: #e0ffe0;
opacity: 0.2;
   }*/

.btn-success{
  background-color: #219652;
}



#secondarynav {
    background-color: #e9ecef;
    width: 10%;
    position: fixed;
    height: 100%;
    left: 7%;
    vertical-align: middle;
}

#secondarynav a{
	color: #006400;
  vertical-align: middle;
}

#secondarynav a:hover{
  color: gray;
  opacity: 0.6;
  z-index: -1;
}




#secNavLinks{
  padding-top: 160%;
}

#secondarynav strong{
	color: #000000;
}

#proficpic {}

#mainContent {

    padding-top: 10%;
    padding-left: 10%;

}

.container {
    left: 17%;
}

input {
    margin-top: 10px;


}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: red;
    opacity: 1;
    /* Firefox */
    font-weight: bold;
    padding-left: 10%;
}

#decsId{
	background-color: #23903c;
	color: #ffffff;
	font-weight: bolder;
	font-size: 25px;
	border-radius: 50%;
	width: 25px;
	height: 25px; 
	text-align: center;
	vertical-align: middle;
	padding: 2px;
}

.loads{
	background-color: #f3f3f3;
	margin-top: 30px;
	border-radius: 10%;
	padding-top: 5px;
	padding-bottom: 5px;
}

.progressbar {
border-left: 2px solid #000;
    height: 76%;
    margin-left: 6px;
    margin-top: -10px;
    margin-bottom: -10px;
}

.progressbarbefore {
  content: " ";
  height: 15px;
  width: 15px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;

}

.progressbarafter {
  content: " ";
  height: 15px;
  width: 15px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;

}

.bookdt1{
	font-size: 0.75em;
	font-weight: 600;

}

.bookdt2{
	font-size: 0.60em;
	font-weight: 600;
	
}

#commTypesId img{
  width: 60%;
  height:100%;
  padding-left: 1%;
}

#commTypesId div.col{
  border-radius: 10%;
  padding: 2%;
  background-color: #ffffff;
  text-align: center;
}